<footer class="page-footer bg-dark p-4">
  <div class="container">
    <div class="col align-items-center text-center justify-content-center">
      <div class="row-md-3 align-items-center foot">
        <img src="/assets/image/logo.png" alt="Bar Rons - O Grove " width="200px" height="200px" class="d-inline-block align-text-center logo">
        <div class="datos">
          <p><a class="icon" href="https://www.google.es/maps/place/Bar+Rons/@42.4987247,-8.8755785,17z/data=!3m1!4b1!4m5!3m4!1s0xd2f404409749e19:0x80860c4122bb832e!8m2!3d42.4987343!4d-8.8734467">
            <img src="/assets/icons/googleMaps.png" alt="Bar Rons" class="d-inline-block" width="20px" height="20px">
          </a>
          Rúa Rons, 40, O Grove<br>
          <a class="call" href="tel:+34986730785">(+34) 986730785</a></p>
          <a class="icon" href="https://www.tripadvisor.es/Restaurant_Review-g662781-d21068523-Reviews-Bar_Rons-O_Grove_Province_of_Pontevedra_Galicia.html">
            <img src="/assets/icons/tripadvisor.png" alt="Bar Rons" class="d-inline-block link">
          </a>
          <a class="icon" href="https://www.facebook.com/BarRonsOGrove/">
            <img src="/assets/icons/facebook.png" alt="Bar Rons" class="d-inline-block link">
          </a>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="text-center Copyright">
      © 2021 Copyright:
      <a class="text-reset fw-bold d-inline-block" href="https://barronsogrove.web.app/">Bar Rons</a>
    </div>
    <div class="text-center created Copyright">Created by Aarón Blanco Meis</div>
  </div>
</div>
</footer>
