<nav>
  <div class="nav-logo">
    <a class="nav-brand" href="#">
      <img src="/assets/image/logo.min.svg" alt="Bar Rons - O Grove" width="100px" height="100px" class="d-inline-block align-text-center logo">
    </a>
  </div>
  <div class="nav-menu" #nav_menu>
    <ul class="menu" #menu>
      <li><a href="#" (click)="navbar()" class="nav-item">Home</a></li>
      <li><a href="#carta" (click)="navbar()" class="nav-item">Menu</a></li>
      <li><a href="#horario" (click)="navbar()" class="nav-item">Horario</a></li>
      <li><a href="#contacto" (click)="navbar()" class="nav-item">Contacto</a></li>
    </ul>
    <div class="menu-btn" #icon (click)="navbar()"><mat-icon class="i_menu">menu</mat-icon></div>
  </div>
  <div class="call">
    <a href="tel:+34986730785" aria-label="phone">
      <mat-icon> phone</mat-icon>
    </a>
  </div>
</nav>

