nav {
  position : relative;
  display: flex;
  width: 100vw;
  height: 120px;
  margin-top: 60px;
  background: rgb(31,31,34);
}

.menu {
  display: flex;
}

.call{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.call > a > mat-icon {
  color: white;
}

.menu li {
  list-style: none;
  margin: 0 15px;
}

.nav-item {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease;
  font-size: 20px;
}

.nav-item:hover {
  color: black;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
}

.menu-btn {
  cursor: pointer;
  display: none;
}

.nav-logo {
  margin-left: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  color : white;
}

.nav-brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {

  .nav-menu {
    position: relative;
    top: 10px;
    right: 10px;
    justify-content: right;
  }

  .menu-btn-fixed {
    position: fixed;
    right: 25px;
    top: 110px;
  }

  .menu-btn {
    display: block;
    z-index: 102;
  }

  .menu {
    position: fixed;
    z-index: 100;
    top: -20px;
    left: -30px;
    background: rgb(31,31,34);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 100px;
    transform: translateX(-100%);
    transition: all 0.5s ease;
  }

  .menu-active{
    transform: translateX(0);
  }

  .call{
    color: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 30px;
    background-color: rgb(31,31,34);
    border-radius: 50%;
    border: 3px solid white;
  }

  .call > a {
    display: flex;
  }
}
