<section class="stn-1" id="categoria">
    <app-categorias></app-categorias>
  </section>
  <section class="stn-2" id="carta">
    <app-menu></app-menu>
  </section>

  <section class="stn-3" id="horario">
    <div class="contact-card">
      <h1>HORARIO</h1>
    </div>
    <div class="shadow-contact-card"></div>
    <div class="horario">
      <div class="titleHorario">Lunes</div>
      <div class="date">Cerrado</div>

      <div class="titleHorario">Martes a Viernes</div>
      <div class="date">09:00 - 18:00 , 19:30 - 0:00</div>

      <div class="titleHorario">Sabado a Domingo</div>
      <div class="date">09:00 - 0:00</div>
      <br>
      <div class="titleHorario">Comidas</div>
      <div class="date">13:00 - 16:00</div>
      <div class="titleHorario">Cenas</div>
      <div class="date">20:00 - 23:30</div>
    </div>

  </section>

  <section class="stn-4" id="contacto">
    <div class="contact-card">
      <h1>CONTACTO</h1>
    </div>
    <div class="shadow-contact-card"></div>
    <div  class="maps">
      <iframe title="map" class="maps-frame" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d367.70938002460423!2d-8.873505369208154!3d42.498460715923414!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2f404409749e19%3A0x80860c4122bb832e!2sBar%20Rons!5e0!3m2!1ses!2ses!4v1626215890803!5m2!1ses!2ses" width="80%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
  </section>
