.html{
  scroll-behavior: smooth;
}

.stn-1{
  margin-bottom: 150px;

}
.stn-2{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.stn-3{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.stn-4{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.maps{
  display: flex;
  justify-content: center;
}

h1{
  font-family: 'Otomanopee One', sans-serif;
  font-size: 30px;
  color: white;
}

.contact-card {
  z-index: 20;
  background-color: rgb(31,31,34);;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 80px;
}

.shadow-contact-card{
  position: relative;
  left: 20px;
  top: -60px;
  background-color: rgb(17, 17, 19);;
  width: 250px;
  height: 80px;
}

.horario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titleHorario{
  color: rgb(31,31,34);
  font-family: 'Otomanopee One', sans-serif;
  text-align: justify;
  font-size: 30px;
  margin: 10px;
}

.date{
  color: rgb(146, 58, 0);
  font-family: 'Otomanopee One', sans-serif;
  text-align: justify;
  font-size: 30px;
  margin: 10px;
}

@media screen and (max-width:1319px){

  .maps-frame{
    height: 300px !important;
  }

  .titleHorario{
    font-size: 25px;
  }

  .date{
    font-size: 25px;
  }
}

