.body{
  height: 100%;
  width: 100%;
}

.ola-container {
  position: absolute;
  width: 100%;
  height: 30vh; /* Ajusta la altura según necesites */
  overflow: hidden;
}

.ola {
  position: absolute;
  z-index: -1;
  left: -10vw;
  width: 120vw;
  height: 100%;
}

.card {
  display: flex;
  width: 90%;
  height: 70%;
  background: rgb(31, 31, 34);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 2vh;
  justify-content: center;
  align-items: center;
  white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-auto-rows: 80px;
  gap: 10px; /* Añade espacio entre los botones, ajusta según sea necesario */
}

.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo{
  margin: 40px 80px 0px 80px;
}

@media (max-width: 800px) {
  .card {
    font-size: 4vw;
  }

}


