.body{
  height: 100%;
  width: 100%;
}
.card{
  display: flex;
  width: 150px;
  height: 40px;
  background:orange;
  border-radius: 20px;
  color: white;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 15px;
  justify-content: center;
  align-items: center;
}

.options{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-items: center;
  grid-auto-rows: 80px;
}
.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.logo{
  margin: 40px 80px 0px 80px;
}

.barco{
  position: absolute;
  animation-name: barco;
  animation-duration: 8s;
  animation-iteration-count: 2;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}

@keyframes barco2 {
  100%{
    right: 30%;
    top: 23%;
    opacity: 0%;
    transform: rotateY(180deg);
  }
  80%{
    right: 35%;
    top: 23%;
    opacity: 100%;
  }
  20%{
    right: 55%;
    top: 23%;
    opacity: 100%;
  }
  0%{
    right: 60%;
    top: 2%;
    opacity: 0%;
    transform: rotateY(180deg);
  }
}

@keyframes barco {
  0%{
    right: 180px;
    top: 390px;
    opacity: 0%;
  }
  20%{
    right: 190px;
    top: 390px;
    opacity: 100%;
  }
  80%{
    right: 275px;
    top: 390px;
    opacity: 100%;
  }
  100%{
    right: 290px;
    top: 390px;
    opacity: 0%;
  }
}
