<div class="menu-card" id="{{categoria.title}}">
  <div class="card">
    <img src="{{categoria.background}}" class="background" alt="Bar Rons - O Grove">
    <div class="card-view">
      <span>{{categoria.title}}</span>
    </div>
  </div>
  <div class="subcategorias" *ngFor="let subcategoria of categoria.subCategoria">
    <div class="cardCategori" *ngIf="subcategoria.titulo !== ''">
      {{subcategoria.titulo}}
    </div>
    <div *ngFor="let producto of subcategoria.productos">
      <div class="card_menu">
        <div class="icon">
          <mat-icon>add</mat-icon>
        </div>
        <div class="producto">{{producto.nombre}}</div>
        <div class="precio">{{producto.precio}}</div>
      </div>
    </div>
  </div>
</div>
