.carta{
  margin-top:20px;
  display: inline-flex;
  position: relative;
  color: white;
  width: 100% !important;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.contact-card {
  z-index: 20;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 30px;
  background-color: orange;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 80px;
}

.shadow-contact-card{
  position: relative;
  left: 20px;
  top: -60px;
  background-color: rgb(163, 87, 0);
  width: 250px;
  height: 80px;
}

.menu{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -50px;
  margin-top: 20px;
}

.menu-card{
  width: 100%;
}

@media screen and (max-width:850px){
  .carta{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px !important;
    margin-bottom: 60px;
  }
}







